<?xml version="1.0"?>
<launch>
    <arg name="camera_name_1"           default="zed2i_long" /> <!-- The name you want -->
    <arg name="camera_name_2"           default="zed2i_short" /> <!-- The name you want -->
    <arg name="marker1Id"         default="16"/>
    <arg name="marker2Id"         default="625"/>
    <arg name="marker3Id"         default="3"/>
    <arg name="marker4Id"         default="4"/>
    <arg name="marker5Id"         default="960"/>
    <arg name="markerSize"        default="0.046"/>    <!-- in m -->
    <arg name="eye"               default="left"/>
    <arg name="dct_normalization" default="False" />
    <arg name="dct_filter_size"   default="2" />
    <arg name="marker1_frame_long"     default="aruco_frame_long1" />
    <arg name="marker2_frame_long"     default="aruco_frame_long2" />
    <arg name="marker3_frame_long"     default="aruco_frame_long3" />
    <arg name="marker4_frame_long"     default="aruco_frame_long4" />
    <arg name="marker5_frame_long"     default="aruco_frame_long5" />
    <arg name="marker1_frame_short"     default="aruco_frame_short1" />
    <arg name="marker2_frame_short"     default="aruco_frame_short2" />
    <arg name="marker3_frame_short"     default="aruco_frame_short3" />
    <arg name="marker4_frame_short"     default="aruco_frame_short4" />
    <arg name="marker5_frame_short"     default="aruco_frame_short5" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vision_pkg)/rviz/zed_aruco_multicam.rviz" output="screen"/>

    <include file="$(find vision_pkg)/launch/multi_zed_merge.launch">

    <!-- CAMERA 1 --> 

        <!-- Camera name  -->
        <arg name="camera_name_1"                     value="$(arg camera_name_1)" />
        <!-- Serial Number -->
        <!-- <arg name="camera_sn_1"             default="32689769" />  -->
        <arg name="camera_sn_1"             default="34226204" /> 
        <!-- Base frame -->
        <arg name="base_frame_1"            default="world" />
        <!-- Position and Orientation respect to base frame -->
        <arg name="cam_pos_x_1"             default="-0.28585442" />
        <arg name="cam_pos_y_1"             default="0.43765326" />
        <arg name="cam_pos_z_1"             default="0.64237502" />
        <arg name="cam_roll_1"              default="0.021161439554650864" />
        <arg name="cam_pitch_1"             default="1.0401006805583601" />
        <arg name="cam_yaw_1"               default="-0.3489239942896739" /> <!-- Looking forward -->

    <!-- CAMERA 2 --> 
    
        <!-- Camera name  -->   
        <arg name="camera_name_2"                     value="$(arg camera_name_2)" />
        <!-- Serial Number -->
        <arg name="camera_sn_2"             default="34783283" /> <!-- Very important to be able to identify the camera uniquely-->  
        <!-- Base frame -->
        <arg name="base_frame_2"            default="world" />
        <!-- Position and Orientation respect to base frame -->
        <arg name="cam_pos_x_2"             default="0.0286135" />
        <arg name="cam_pos_y_2"             default="-0.34539456" />
        <arg name="cam_pos_z_2"             default="0.56497283" />
        <arg name="cam_roll_2"              default="0.0213951134526783" />
        <arg name="cam_pitch_2"             default="0.8239130975008151" />
        <arg name="cam_yaw_2"               default="0.39339962333889295" />

    </include>

    <group ns="$(arg camera_name_1)">
          <node pkg="aruco_ros" type="quintuple" name="aruco_quintuple">    
            <remap from="/camera_info" to="/zed_multi/zed2i_long/zed_nodelet_front/left/camera_info" />
            <remap from="/image" to="/zed_multi/zed2i_long/zed_nodelet_front/left/image_rect_color" />
            <param name="image_is_rectified" value="True"/>
            <param name="marker_size" value="$(arg markerSize)"/>
            <param name="marker_id1" value="$(arg marker1Id)"/>
            <param name="marker_id2" value="$(arg marker2Id)"/>
            <param name="marker_id3" value="$(arg marker3Id)"/>
            <param name="marker_id4" value="$(arg marker4Id)"/>
            <param name="marker_id5" value="$(arg marker5Id)"/>
            <param name="normalizeImage" value="$(arg dct_normalization)"/>
            <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
            <param name="parent_name" value="zed2i_long_left_camera_optical_frame"/>
            <param name="child_name1" value="$(arg marker1_frame_long)" />
            <param name="child_name2" value="$(arg marker2_frame_long)" />
            <param name="child_name3" value="$(arg marker3_frame_long)" />
            <param name="child_name4" value="$(arg marker4_frame_long)" />
            <param name="child_name5" value="$(arg marker5_frame_long)" />
        </node>
    </group>

    <group ns="$(arg camera_name_2)">
          <node pkg="aruco_ros" type="quintuple" name="aruco_quintuple">    
            <remap from="/camera_info" to="/zed_multi/zed2i_short/zed_nodelet_rear/left/camera_info"/>
            <remap from="/image" to="/zed_multi/zed2i_short/zed_nodelet_rear/left/image_rect_color" />
            <param name="image_is_rectified" value="True"/>
            <param name="marker_size" value="$(arg markerSize)"/>
            <param name="marker_id1" value="$(arg marker1Id)"/>
            <param name="marker_id2" value="$(arg marker2Id)"/>
            <param name="marker_id3" value="$(arg marker3Id)"/>
            <param name="marker_id4" value="$(arg marker4Id)"/>
            <param name="marker_id5" value="$(arg marker5Id)"/>
            <param name="normalizeImage" value="$(arg dct_normalization)"/>
            <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>
            <param name="parent_name" value="zed2i_short_left_camera_optical_frame"/>
            <param name="child_name1" value="$(arg marker1_frame_short)" />
            <param name="child_name2" value="$(arg marker2_frame_short)" />
            <param name="child_name3" value="$(arg marker3_frame_short)" />
            <param name="child_name4" value="$(arg marker4_frame_short)" />
            <param name="child_name5" value="$(arg marker5_frame_short)" />
        </node>
    </group>
</launch>
